* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.go text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mod text eol=lf
*.sum text eol=lf

*.exe binary
*.ico binary
*.jpg binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary
